<%-td.head%>
</head>

<%- td.navbar %>

<body>
    <div class="container">

      <h1>Balanced Meal</h1>
      <p>Helping you plan nutritional AND affordable meals.</p>

    </div> <!-- /container -->
</body>

<%-td.footer%>
