<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Balanced Meal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <style>
      body {
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        margin: 0 auto;       
      }
 
      .post {
        background: #eee;
        border: 1px solid #ccc;
        margin: 5px;
        padding: 10px;
      }
 
      .add_recipe {
        background: #eee;
        border: 1px solid #ccc;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
        width: 600px;
      }
    </style>
  <script>
$(document).ready(function(){
	$('#btnAdd').click(function() {
		var num        = $('.clonedInput').length;    // how many "duplicatable" input fields we currently have
		var newNum    = new Number(num + 1);        // the numeric ID of the new input field being added

		// create the new element via clone(), and manipulate it's ID using newNum value
		var newElem = $('#input' + num).clone().attr('id', 'input' + newNum);

		// manipulate the name/id values of the input inside the new element
		newElem.children(':first').attr('id', 'ingredient' + newNum).attr('name', 'ingredient' + newNum);		
		newElem.children(':nth-child(2)').attr('id','category'+newNum).attr('name', 'category' + newNum);

		// insert the new element after the last "duplicatable" input field
		$('#input' + num).after(newElem);

		// business rule: you can only add 20 ingredients
		if (newNum == 20)
			$('#btnAdd').attr('disabled','disabled');
	});
$('#btnAddStep').click(function() {
		var num        = $('.clonedInputStep').length;    // how many "duplicatable" input fields we currently have
		var newNum    = new Number(num + 1);        // the numeric ID of the new input field being added

		// create the new element via clone(), and manipulate it's ID using newNum value
		var newElem = $('#inst' + num).clone().attr('id', 'inst' + newNum);

		// manipulate the name/id values of the input inside the new element
		newElem.children(':first').attr('id', 'step' + newNum).attr('name', 'step' + newNum);		

		// insert the new element after the last "duplicatable" input field
		$('#inst' + num).after(newElem);		

		// business rule: you can only add 10 Steps
		if (newNum == 10)
			$('#btnAddStep').attr('disabled','disabled');
	});
});
  </script>

    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Balanced Meal</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>                 
              <li><a href="/locator">Retail Locator</a></li>                                                     
			  <li><a href="/recipes">View Recipes</a></li>				
              <li><a href="/newgroceryl">New Grocery List</a></li>
              <li><a href="/resources">Resources</a></li>   
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    
       <body>
	<div class="container">      
	<div class="add_recipe">
		<h1>Add a new Recipe</h1>
		<form id="recipeForm" method='POST' action='/newrecipe'>
			<input name='title' id='title_field' placeholder='Title' /><br />
			<input name='size' id='size_field' placeholder='Serving Size' /><br/>
			<br/><br/>Ingredients:
			<div id="input1" style="margin-bottom:4px;" class="clonedInput">
				<input type="text" name="ingredient1" id="ingredient1" />
				<select id='category1'name="category1" stlye='display:inline'>					
				<option value="cold">cold</option>
				<option value="meat">meat</option>
				<option value="grains">grains</option>
				<option value="produce">produce</option>
				<option value="cans/jars">cans/jars</option>
				<option value="other">other</option>
				</select>
			</div>
			<div>
				<input type="button" id="btnAdd" value="add another ingredient" />				
			</div><br/><br/>
			Instructions:<br/>
			<div id="inst1" style="margin-bottom:4px;" class="clonedInputStep">
				<input type="text" name="step1" id="step1" />
			</div>
			<div>
				<input type="button" id="btnAddStep" value="add another Step" />				
			</div>			
			<br/><br/>
			<input type='submit' value='Create & Submit' />
		</form>                         
        
    </div>
  </body>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>









<!-- ========================================================================================================================================= -->

  
 
