<html>
  <head>
    <title>RecipeNation</title>
    <link href="http://cdn.jsdelivr.net/bootstrap/2.3.0/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <style>
      body {
        margin: 0 auto;
        width: 600px;
      }
 
      .recipe {
        background: #eee;
        border: 1px solid #ccc;
        margin: 5px;
        padding: 10px;
      }
 
      .add_post {
        background: #eee;
        border: 1px solid #ccc;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
	<form id="grocerylForm" method='POST' action='/groceryl'>
    <% for (i = 0; i<recipes.length-1;i++){ %>
    <div class='recipe'>
	  <input type='checkbox' name='<%=recipes[i]._id%>' id='recipe<%=i%>'/>
      <a href='/recipe/<%= recipes[i]._id %>'><h2 style='display:inline'><%= recipes[i].title %></h2></a>
    </div>
    <% } %>    
    <input type='submit' value='Create & Submit' />
    </form>
  </body>
</html>
